@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');


@tailwind base;

/* Firefox */
* {
    scrollbar-width: 9px;
    scrollbar-color: #4EEE90;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: whitesmoke;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #4EEE90;
    border-radius: 14px;
}

@tailwind components;
@tailwind utilities;


/* Header Animations */
@keyframes NavHoverShow {
    from {width: 0%;}
    to {width: 100%;}
}

/* Home Mobile Menu */
@keyframes MobileMenuShow {
    from {left: 100%;}
    to {left: 0%;}
}
@keyframes MobileMenuHide {
    from {left: 0%;}
    to {left: 100%;}
}


/* Dashboard */

/* Right Menu Slide In */
@keyframes RightMenuShow {
    from { right: -300px; }
    to { right: 0; }
}
@keyframes RightMenuFullShow {
    from { right: -100%; }
    to { right: 0; }
}
@keyframes RightMenuHide {
    from { right: 0; }
    to { right: -300px; }
}
@keyframes RightMenuFullHide {
    from { right: 0; }
    to { right: -100%; }
}