@tailwind base;
@tailwind components;
@tailwind utilities;


/* Header Animations */
@keyframes NavHoverShow {
    from {width: 0%;}
    to {width: 100%;}
}

/* Home Mobile Menu */
@keyframes MobileMenuShow {
    from {left: 100%;}
    to {left: 0%;}
}
@keyframes MobileMenuHide {
    from {left: 0%;}
    to {left: 100%;}
}